/AssertionFailedException.class
/CJCommunicationsException.class
/CJConnectionFeatureNotAvailableException.class
/CJException.class
/CJOperationNotSupportedException.class
/CJPacketTooBigException.class
/CJTimeoutException.class
/ClosedOnExpiredPasswordException.class
/ConnectionIsClosedException.class
/DataConversionException.class
/DataReadException.class
/DataTruncationException.class
/DeadlockTimeoutRollbackMarker.class
/ExceptionFactory.class
/ExceptionInterceptor.class
/ExceptionInterceptorChain.class
/FeatureNotAvailableException.class
/InvalidConnectionAttributeException.class
/MysqlErrorNumbers.class
/NumberOutOfRange.class
/OperationCancelledException.class
/PasswordExpiredException.class
/PropertyNotModifiableException.class
/RSAException.class
/SSLParamsException.class
/StatementIsClosedException.class
/StreamingNotifiable.class
/UnableToConnectException.class
/UnsupportedConnectionStringException.class
/WrongArgumentException.class
