/AbandonedConnectionCleanupThread$ConnectionFinalizerPhantomReference.class
/AbandonedConnectionCleanupThread.class
/Blob.class
/BlobFromLocator$LocatorInputStream.class
/BlobFromLocator.class
/CallableStatement$CallableStatementParam.class
/CallableStatement$CallableStatementParamInfo.class
/CallableStatement.class
/CallableStatementWrapper.class
/ClientInfoProviderSP.class
/ClientPreparedStatement.class
/Clob.class
/CommentClientInfoProvider.class
/ConnectionGroup.class
/ConnectionGroupManager.class
/ConnectionImpl$CompoundCacheKey.class
/ConnectionImpl$NetworkTimeoutSetter.class
/ConnectionImpl.class
/ConnectionWrapper.class
/DatabaseMetaData$ComparableWrapper.class
/DatabaseMetaData$IndexMetaDataKey.class
/DatabaseMetaData$IteratorWithCleanup.class
/DatabaseMetaData$LocalAndReferencedColumns.class
/DatabaseMetaData$ProcedureType.class
/DatabaseMetaData$SingleStringIterator.class
/DatabaseMetaData$StringListIterator.class
/DatabaseMetaData$TableMetaDataKey.class
/DatabaseMetaData$TableType.class
/DatabaseMetaData$TypeDescriptor.class
/DatabaseMetaData.class
/DatabaseMetaDataUsingInfoSchema$FunctionConstant.class
/DatabaseMetaDataUsingInfoSchema.class
/Driver.class
/EscapeProcessor.class
/EscapeProcessorResult.class
/IterateBlock.class
/JdbcPropertySetImpl.class
/MysqlConnectionPoolDataSource.class
/MysqlDataSource.class
/MysqlDataSourceFactory.class
/MysqlParameterMetadata.class
/MysqlPooledConnection.class
/MysqlSQLXML$SimpleSaxToReader.class
/MysqlSQLXML.class
/MysqlSavepoint.class
/MysqlXAConnection.class
/MysqlXADataSource.class
/MysqlXAException.class
/MysqlXid.class
/NClob.class
/NonRegisteringDriver.class
/ParameterBindingsImpl.class
/PreparedStatementWrapper.class
/ServerPreparedStatement.class
/StatementImpl.class
/StatementWrapper.class
/SuspendableXAConnection.class
/WrapperBase$ConnectionErrorFiringInvocationHandler.class
/WrapperBase.class
